.header {
    background: #FFF;
    gap: 8px;
    height: 6.5rem;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #F46700;
    padding-left: 6.4rem;
    padding-right: 6.4rem;
    min-width: 100%;
}

.header > span {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    width: 80%;
    flex-wrap: nowrap;
}

.header > span > p {
    font-weight: 600;
    font-size: 2.4rem;
    display: flex;
    flex-wrap: nowrap;
    line-height: 29.05px;
    min-width: max-content
}

.header > nav {
    display: flex;
    gap: 2.4rem;
}

.header > nav > a {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 19.36rem;
}

.active {
    color: #F46700;
}

.inactive {
    color: #333333
}

.menuButton {
    display: none;
    position: relative;
    left: 15%;
}

@media (max-width: 867px) {
    .header {
        padding-left: 2.4rem;
        padding-right: 2.4rem;
    }
}

@media (max-width: 757px) {
    .header {
        padding: 2.4rem;
        height: 8.87rem;
    }
    .header > nav {
        display: none;
    }
    .menuButton {
        display: block;
    }
    
    .menuButton > img {
        width: 2rem;
        height: 4rem;
    }
    .header > span > img {
        width: 6.4rem;
        min-height: 8.2rem;
    }
}

@media (max-width: 633px) {
    .header {
        padding: 2.4rem;
        min-height: 9.87rem;
    }

    .header > span > img {
        width: 8.4rem;
        min-height: 8.2rem;
    }
}

@media (max-width: 589px) {
    .header {
        padding: 3.4rem;
        min-height: 12.87rem;
    }
    .header > span > img {
        width: 10.4rem;
        min-height: 8.2rem;
    }
    .header > span > p {
        font-size: 3.5rem;
    }

    .menuButton > img {
        width: 2.5rem;
        height: 4rem;
    }
}

@media (max-width: 589px) {
    .header {
        padding: 3.4rem;
        min-height: 14.87rem;
    }
}

@media (max-width: 401px) {
    .header {
        padding: 3.4rem;
        min-height: 19.87rem;
    }

    .header > span > img {
        width: 14.4rem;
        min-height: 10.2rem;
    }

    .header > span > p {
        font-size: 4.9rem;
    }

    .menuButton > img {
        width: 4.5rem;
        height: 4rem;
    }
}